<p id="notice"><%= notice %></p>
<%= image_tag @profile.image.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @profile.short_description %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
