<p id="notice"><%= notice %></p>

<p>
  <strong>
  <%= @blog.title %>
  </strong>
</p>
<%= image_tag @blog.image.url(:medium) %>
<p>
  <strong></strong><br>
  <%= @blog.post %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
