<%= form_for([@blog, @blog.comments.build]) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <br>
  <%= f.label :body %><br>
  <%= f.text_area :body %><br>
  <br>
  <%= f.label :image %><br>
  <%= f.file_field :image %><br>
  <br>

  <%= f.submit %>
<% end %>

<form action="#" id="comment-form">
    <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        
        <span class="span4" id="prependedInput" size="16" type="text" placeholder="Name"></span>
    </div>
    <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span>
        <input class="span4" id="prependedInput" size="16" type="text" placeholder="Email Address">
    </div>
    <div class="input-prepend">
        <span class="add-on"><i class="icon-globe"></i></span>
        <input class="span4" id="prependedInput" size="16" type="text" placeholder="Website URL">
    </div>
    <textarea class="span6"></textarea>
    <div class="row">
        <div class="span2">
            <input type="submit" class="btn btn-inverse" value="Post My Comment">
        </div>
    </div>
</form>